/* static/styles/index-style.css */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #a3b3ff, #cbffff);
    margin: 0;
    padding: 10%;
}

h1, h2 {
    color: #000000;
    text-align: center;
}

form {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

pre {
    background: #333333;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
}
